body {
  background-color: #ffffff;
  color: #000;
  font-family: 'Roboto', sens-serif;
}

h1{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #266980;
}

h3 {
  font-family: 'PT Serif', serif;
  font-size: large;
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}

.navbar {
  background-color: #ADD8E6;
}

.navbar-brand, .navbar-nav .nav-link {
  color: #fff;
}

.carousel-item {
  height: 900px; 
  
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
}

.carousel-caption h5, .carousel-caption p {
  color: #fff; 
}

.footer {
  background-color: #3498db;
  color: #fff;
  text-align: center;
}

.img-with-border {
  border: 1px solid #ccc; 
  border-radius: 10px; 
  padding: 5px; 
}

#azul {
  background-color: #266980;
}

.custom-bg-color {
  background-color: #266980; 
}

.custom-text-color {
  color: rgb(0, 0, 0) !important; 
}
