body {
    font-family: 'Roboto', sans-serif; /* Exemplo de fonte elegante */
  }
  #topo {
    background: url(img/bandeira.jpg) bottom repeat-x;	
    height:120px;
    margin-bottom:10px;
}
#logomarca {
    float: right;
}
  .navbar {
    background-color: #343a40; /* Azul escuro */
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #ffffff; /* Branco */
  }
  
  .carousel-inner img {
    width: 100%;
    height: auto;
  }
  
  /* Estilos adicionais conforme necessário */
  