/* Estilos personalizados */
body {
  background-color: #fff;
  color: #000;
  font-family: 'Roboto', sens-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #ADD8E6;
}

.navbar-brand, .navbar-nav .nav-link {
  color: #fff;
}

.carousel-item {
  height: 900px; /* Altura do carousel */
  
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo da legenda */
}

.carousel-caption h5, .carousel-caption p {
  color: #fff; /* Cor do texto da legenda */
}

.footer {
  background-color: #3498db;
  color: #fff;
  text-align: center;
}
